<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Salary</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col"> Website</th>
                <th scope="col">Year of Experience</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of data">
                <td></td>
                <td>{{i.name}}</td>
                <td>{{i.designation}}</td>
                <td>{{i.salary}}</td>
                <td></td>
                <td>{{i.email}}</td>
                <td>nestgroup.com</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>