
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Salary</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col"> Website</th>
                <th scope="col">Year of Experience</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Abhishek</td>
                <td>tester</td>
                <td>35000</td>
                <td>98426341</td>
                <td>abhishek@gmail.com</td>
                <td>nestgroup.com</td>
                <td>1</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Aijo</td>
                <td>tester</td>
                <td>35000</td>
                <td>9347507895</td>
                <td>Aijo@gmail.com</td>
                <td>bestgroup.com</td>
                <td>2</td>
              </tr>
              <tr>
                <td>3</td>
                <td>sarath</td>
                <td>HR</td>
                <td>125000</td>
                <td>957506341</td>
                <td>sarath1@gmail.com</td>
                <td>hkc.com</td>
                <td>4</td>
              </tr>
              <tr>
                <td>4</td>
                <td>manoop</td>
                <td>SD</td>
                <td>100000</td>
                <td>7557506341</td>
                <td>manoop@gmail.com</td>
                <td>aot.com</td>
                <td>3</td>
              </tr>
              <tr>
                <td>5</td>
                <td>sanju</td>
                <td>SE</td>
                <td>80000</td>
                <td>3557506341</td>
                <td>sanju1@gmail.com</td>
                <td>tcs.com</td>
                <td>14</td>
              </tr>
              <tr>
                <td>6</td>
                <td>anoop</td>
                <td>SD</td>
                <td>70000</td>
                <td>947806341</td>
                <td>anoop@gmail.com</td>
                <td>google.com</td>
                <td>4</td>
              </tr>
              <tr>
                <td>7</td>
                <td>santhosh</td>
                <td>SE</td>
                <td>60000</td>
                <td>954589632</td>
                <td>santhosh@gmail.com</td>
                <td>akm.com</td>
                <td>5</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>